@using BIOLIFE.ViewModels;
@using BIOLIFE.Utilities;
@model ArticleViewModel



<div class="row">
    <div class="col-md-8">
        @foreach (var item in Model.obj_article_list.Skip(0).Take(1))
        {
            string link = @Html.GetStaticUrlNews(item.title, item.id);
            <div class="top-news">
                <div class="item-news">
                    <div class="box-news">
                        <div class="thumb-art">
                            <div class="thumb thumb-news">
                                <a href="@link"><img src="@item.image169" alt="@item.title" /> </a>
                            </div>
                        </div>
                        <div class="right-content">
                            <div class="flex-cat">
                                <span class="time">
                                    <i class="icon icon-time"></i>
                                    @item.publishdate.ToString("dd/MM/yyyy")
                                </span>
                                <a href="/" class="cat-tag">Mẹo hay</a>
                            </div>
                            <h2 class="title-news">
                                <a href="@link">@item.title</a>
                            </h2>
                            <p class="description">
                                @item.lead
                            </p>
                            <a href="@link" class="xemthem">Đọc tiếp</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        <div class="next-news">
            @foreach (var item in Model.obj_article_list.Skip(1).Take(2))
            {
                string link = @Html.GetStaticUrlNews(item.title, item.id);
                <div class="item-news">
                    <div class="box-news">
                        <div class="thumb-art">
                            <div class="thumb thumb-news">
                                <a href="@link"><img src="@item.image169" alt="@item.title" /> </a>
                            </div>
                        </div>
                        <div class="right-content">
                            <div class="flex-cat">
                                <span class="time">
                                    <i class="icon icon-time"></i>
                                    @item.publishdate.ToString("dd/MM/yyyy")
                                </span>
                                <a href="/" class="cat-tag">Tin hoạt động</a>
                            </div>
                            <h2 class="title-news">
                                <a href="@link">@item.title</a>
                            </h2>
                            <p class="description">
                                @item.lead
                            </p>
                            <a href="@link" class="xemthem">Đọc tiếp</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>