@using HuloToys_Front_End.Models.News;
@using HuloToys_Front_End.Utilities.Lib;
@model List<ArticleRelationModel>
@if (Model != null)
{
    <div class="list-news">
        @foreach (var item in Model)
        {
            <div class="item-news">
                <div class="box-news">
                    <div class="thumb-art">
                        <div class="thumb thumb-news">
                            <a href="@("/tin-tuc"+CommonHelper.genLinkNewsV2(item.Title,item.Id.ToString()))">
                                <img src="@(item.Image)" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="flex-cat">
                            <span class="time">
                                <i class="icon icon-time"></i>
                                @item.publish_date.ToString("dd/MM/yyyy")
                            </span>
                        </div>
                        <h2 class="title-news">
                            <a href="@("/tin-tuc"+CommonHelper.genLinkNewsV2(item.Title,item.Id.ToString()))">
                                @item.Title
                            </a>
                        </h2>
                        <p class="description">
                            @item.category_name
                        </p>
                        <a href="@("/tin-tuc"+CommonHelper.genLinkNewsV2(item.Title,item.Id.ToString()))" class="xemthem">Đọc tiếp</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

