@model HuloToys_Front_End.Models.News.GetNewDetailObjectResponse
@{
    ViewData["Title"] = "Chi tiết tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var details = Model.Details;
    var mostViewedArticles = Model.MostViewedArticles;
}
@if (details != null)
{
    

<section class="section-news section-news-detail">
    <div class="container">
        <div class="wrap-news">
            <div class="content">
                <div class="thumb-art">
                    <div class="thumb thumb-news">
                        <a href=""><img src="@details.image_11" alt=""> </a>
                    </div>
                </div>
                <div class="flex-cat">
                    
                </div>
                <h1 class="title-news"> @details.title</h1>
                <div class="details">
                    <p>

                        @Html.Raw(details.body)
                    </p>

                </div>
            </div>
            <div class="siderbar-news">
                <div class="box-side">
                    <h3 class="title">
                        XEM NHIỀU NHẤT
                    </h3>
                    <div class="list-news" id="Most_Viewed_Article">

                    </div>
                </div>
                <div class="box-side">
                    <h3 class="title">
                        SẢN PHẨM KHUYẾN MÃI
                    </h3>
                    <div class="list-product" id="list_new_Sale">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script type="text/javascript" src="~/modules/new.js"></script>
}
}
@* @section HeadMeta
    {
        <meta property="og:image" content="@details.image_169">
        <meta property="og:description" content="@details.lead.Trim()">
        <meta property="og:title" content="@details.title.Trim()" />
    } *@