@using HuloToys_Front_End.ViewModels;
@{
    Layout = null;
}
@model PagingFeViewModel
<ul class="pagination">
    <li class="Model.page first">
        <a class="@((Model.page<=1)?"disabled button-disabled":"")" href="javascript:;" onclick="@(Model.function_name+"(1)")"><i class="icon icon-Model.page-first"></i></a>
    </li>
    <li class="Model.page previous">
        <a class="@(Model.page<=1?"disabled button-disabled":"")" href="javascript:;" onclick="@(Model.function_name+"("+(Model.page-1)+")")"><i class="icon icon-Model.page-previous"></i></a>
    </li>
    @{
        if (Model.page - 4 > 0)
        {
            <li class="Model.page"><a href="javascript:;" class="disabled button-disabled">...</a></li>
        }
        if (Model.page-3 > 0)
        {
            <li class="Model.page"><a href="javascript:;" onclick="@(Model.function_name+"("+(Model.page-3)+")")">@(Model.page-3)</a></li>
        }
        if (Model.page - 2 > 0)
        {
            <li class="Model.page"><a href="javascript:;" onclick="@(Model.function_name+"("+(Model.page-2)+")")">@(Model.page - 2)</a></li>
        }
        if (Model.page - 1 > 0)
        {
            <li class="Model.page"><a href="javascript:;" onclick="@(Model.function_name+"("+(Model.page-1)+")")">@(Model.page - 1)</a></li>
        }
        <li class="Model.page active"><a href="javascript:;" onclick="@(Model.function_name+"("+(Model.page)+")")">@(Model.page)</a></li>
        if (Model.page + 1 <= Model.max_page)
        {
            <li class="Model.page"><a href="javascript:;" onclick="@(Model.function_name+"("+(Model.page+1)+")")">@(Model.page + 1)</a></li>
        }
        if (Model.page + 2 <= Model.max_page)
        {
            <li class="Model.page"><a href="javascript:;" onclick="@(Model.function_name+"("+(Model.page+2)+")")">@(Model.page + 2)</a></li>
        }
        if (Model.page + 3 <= Model.max_page)
        {
            <li class="Model.page"><a href="javascript:;" onclick="@(Model.function_name+"("+(Model.page+3)+")")">@(Model.page + 3)</a></li>
        }
        if (Model.page + 4 <= Model.max_page)
        {
            <li class="Model.page"><a href="javascript:;" class="disabled button-disabled">...</a></li>
        }
    }
    <li class="Model.page next">
        <a class="@(Model.page>=Model.max_page?"disabled button-disabled":"")" href="javascript:;"><i class="icon icon-Model.page-next"></i></a>
        
    </li>
    <li class="Model.page last">
        <a class="@(Model.page == Model.max_page ? "disabled button-disabled" : "")" onclick="@(Model.function_name+"("+(Model.max_page)+")")" href="javascript:;"><i class="icon icon-Model.page-last"></i></a>
    </li>
</ul>