@using BIOLIFE.ViewModels;
@using BIOLIFE.Utilities;
@model List<ProductModel>
@{
    if (Model != null)
    {
        <div class="list-product">

            @foreach (var item in Model)
            {
                string link = @Html.GetStaticUrlProduct(item.name, item._id);
                <div class="item-product">
                    <a href="@link">
                        <div class="thumb thumb-product">
                            <img src="@item.avatar" alt="@item.name" />
                        </div>
                        <div class="box-info">
                            <h3 class="name-product">@item.name </h3>
                            <div class="flex-price">
                                <div class="price-sale">@item.price.ToString("N0") đ</div>
                                @*<div class="price-old">689,098đ</div>*@
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="wrap-paging">
            <a href="" class="xemthem">Xem thêm</a>
            <ul class="pagination">
                <!-- <li class="page first"><a href=""><i class="icon icon-page-first"></i></a></li> -->
                <li class="page previous disabled"><a href=""><i class="icon icon-page-previous"></i></a></li>
                <li class="page active"><a href="">1</a></li>
                <li class="page"><a href="">2</a></li>
                <li class="page"><a href="">...</a></li>
                <li class="page"><a href="">3</a></li>
                <li class="page next"><a href=""><i class="icon icon-page-next"></i></a></li>
                <!-- <li class="page last"><a href=""><i class="icon icon-page-last"></i></a></li> -->
            </ul>
        </div>
    }
}
